<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Character encoding scheme -->
		<meta charset="UTF-8">
		<title>Files on the cloud</title> 
		<style type="text/css">
	table {width:100%;color:black;}
.main li { border: 1px solid whitesmoke; border-collapse: collapse;padding: 10px; text-align: left;}
.main li:nth-child(even){background-color:#E8E8E8;}
.main li:nth-child(odd){background-color:whitesmoke;}
.main li:hover{background-color:darkgray;color:black;}
  body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}
.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
</style>
	</head>
<body>
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Secure Message Transfer</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">OPTIONS</a></li>
        <li><a href="/upload-file">UPLOAD FILES</a></li>
        <li class="active"><a href="/file-directory">FILE DIRECTORY</a></li>
        <li><a href="/public-key-directory">DOWNLOAD PUBLIC KEY</a></li>
        <li><a href="/register">REGISTER USER</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="main">
	{% if msg!=''%}
		<h3 style="color: red">{{msg}}</h3>
	{%else%}
		<center><h3>File Directory</h3></center>
		{% for itr in range(length):%}
			<li><a href="retrieve/file/{{list[itr]}}">{{list[itr]}}</a></li>
		{% endfor%}
	{%endif%}
</div>
</body>
</html>