<html>
<head>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
		<title>Options for the user</title>
<style type="text/css">
.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
</style>
	</head>
	<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Secure Message Transfer</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index">OPTIONS</a></li>
        <li><a href="upload-file">UPLOAD FILES</a></li>
        <li><a href="file-directory">FILE DIRECTORY</a></li>
        <li><a href="public-key-directory">DOWNLOAD PUBLIC KEY</a></li>
        <li><a href="register">REGISTER USER</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
    <h2>Secure Message Transfers Using Diffie-Hellman Key Exchange</h2><br>
  		<div class="fluid-container" style="font-size:20px;font-color: #160214">
		<p>The user gets to choose from one of the following options:</p>
		<br>
		<ul>
			<li><i>He gets to upload the file to the cloud in a secured manner.</i></li><br>
			<li><i>He gets to choose from thelist of all the different files that are present on the cloud provided he has the required credentials for decrypting the file.</i></li><br>
			<li><i>He can also download public key associated with the user with whom the file transfer is to take place.</i></li><br>
			<li><i>To upload his file to cloud storage the user needs to be registered so that his file can be shared with the other desired person in an instant.</i></li><br>
		</ul>
	</div>
</div>
</body>
</html>